body {
	font-family: 'Hind', sans-serif;
	background-color: #EEF4FF;
}
a{
	color: white;
}
a:link{
	text-decoration: none;
}
a:hover{
	color: white;
}
#title {
  margin: 0 auto;
  font-family: 'Barrio', cursive;
  font-size: 30pt;
	position: absolute;
	top: 5px;
	left: 10px;
	overflow: hidden;
	white-space: nowrap;
}
#menu {
	display: inline;
	position: absolute;
	top: 5px;
	right: 10px;
	float: right;
	vertical-align: middle;
}
/* for mui */
.mui--text-display1 {
  font-weight: bold;
	margin-bottom: 10px;
}
.mui-appbar {
	margin 0 0 20px 0;
}
.mui-container {
	margin-top: 20px;
}

