/* for mui */
.mui--text-display3 {
  margin: 0 auto;
  font-family: 'Barrio', cursive;
  font-size: 400%;
	position: absolute;
	top: 5px;
	left: 10px;
	display: inline;
}
.mui--text-display1 {
  font-weight: bold;
	margin-bottom: 10px;
}
.mui-dropdown {
	display: inline;
	position: absolute;
	top: 5px;
	right: 10px;
	float: right;
	vertical-align: middle;
}
.mui-appbar {
	margin 0 0 20px 0;
}
.mui-container {
	margin-top: 20px;
}

/* for date range picker */
.calendar {
	width: 100%;
}
.daterangepicker_input {
	height: 50px;
}

/* etc */
#to_payment {
	height: 72px;
	font-size: 20pt;
}
#payment_complete {
	width: 240px;
	height: 72px;
	font-size: 25pt;
	float: right;
}
.center-div {
	width: 60%;
	margin: 0 auto;
}