hr {
  border-width: 1px;
  border-color: black;
  color: black;
  margin 0 0;
}

.header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 100;
  background-color: white;
}

#cond {
	width: 220px;
}