html {
  font-family: 'Hind', sans-serif;
}

hr {
  border-width: 1px;
  border-color: black;
  color: black;
  margin 0 0;
}


.header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 100;
  background-color: white;
}

#cond{
	width: 220px;
}

.mui--text-display3 {
  margin: 0 auto;
  font-family: 'Barrio', cursive;
  font-size: 400%;
	position: absolute;
	top: 5px;
	left: 10px;
	display: inline;
}

.mui--text-display1 {
  font-weight: bold;
	margin-bottom: 10px;
}
.mui-dropdown {
	display: inline;
	position: absolute;
	top: 5px;
	right: 10px;
	float: right;
	vertical-align: middle;
}
.mui-appbar {
	margin 0 0 20px 0;
}
.mui-container {
  	margin-top: 20px;
}