html {
  font-family: 'Hind', sans-serif;
}
.mui--text-display3 {
  margin: 0 auto;
  font-family: 'Barrio', cursive;
  font-size: 400%;
	position: absolute;
	top: 5px;
	left: 10px;
	display: inline;
}

.mui--text-display1 {
  font-weight: bold;
	margin-bottom: 10px;
}
.mui-dropdown {
	display: inline;
	position: absolute;
	top: 5px;
	right: 10px;
	float: right;
	vertical-align: middle;
}
.mui-appbar {
	margin 0 0 20px 0;
}
.mui-container {
	margin-top: 20px;
}


.room_type {
  font-weight: bold;
}


#room {
  margin: 0 0 0 30px;
}

#total_price {
  padding: 0 30px;
}

#reserve_confirm {
	width: 250px;
	height: 70px;
	font-size: 25pt;
	float: right;
}

/*
.remain_room {
  padding: 2px;
  font-size: 13px;
  color: gray;
}
*/
.room-type, .personal-info {
	margin-top: 20px;
}
.calendar {
	width: 100%;
}
.daterangepicker_input {
	height: 50px;
}