html {
  font-family: 'Hind', sans-serif;
}
h1 {
  margin: 0 auto;
  font-family: 'Barrio', cursive;
  font-size: 400%;
}
h2 {
  font-weight: bold;
}

hr {
  border-width: 1px;
  border-color: black;
  color: black;
  margin 0 0;
}
label {
	font-size: 17px;
}

form {
	width: 0px;
	height: 0px;
}
.header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 100;
  background-color: white;
}

.container {
  margin: 102px auto auto auto;
  width: 80%;
	min-width: 600px;
/*	height: 1000px;*/
}

.room_type {
  font-weight: bold;
}

.date, .room-info {
	display: inline;
	vertical-align: middle;
/*	width: 120px;*/
}

.numbers {
	display: inline;
	vertical-align: middle;
	width: 100%;
}

.input-box {
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #555;
	height: 30px;
	line-height: 30px;
	display: inline;
	vertical-align: middle;
	margin: 0 15px 3px 5px;
	padding: 0 0px 0 10px;
}
.box-small {
	width: 150px;
}
.box-middle {
	width: 100px;
}
.box-small {
	width: 50px;
}

#room {
  margin: 0 0 0 30px;
}

#total_price {
  padding: 0 30px;
}

.remain_room {
  padding: 2px;
  font-size: 13px;
  color: gray;
}
.room-type, .personal-info {
	margin-top: 20px;
}
.calendar {
	width: 100%;
}
.calendar-table {
	
}

